<div class='actions'>
	<% if policy(Article).edit? %>
		<%= link_to 'Edit', edit_article_path(@article) %>
	<% end %>

	<% if policy(Article).destroy? %>
		<%= link_to 'Delete', article_path(@article), method: :delete %>
	<% end %>
</div>