%article.article{id: dom_id(article)}
	%h1.title= link_to article.title, article_path(article)
	.body
		!= article.body

- unless action_name == 'index'
	.comments
		%h4 Leave a comment
		= render 'comments/form'
		%h4 Comments
		= render article.comments