<div class='articles'>
	<div class='row'>
		<div class='column small-12 large-8 large-centered'>
			<% @articles.each do |article| %>

				<%= render 'articles/front_page_article', article: article %>

			<% end %>
		</div>
	</div>
</div>

<% if policy(Article).create? %>

	<%= link_to 'New Article', new_article_path %>
	
<% end %>