<div id='about-me'>
	<div class='row text-center name-row'>
		<div class='small-12'>
			<h1><%= link_to 'Andrew Sinner', root_path, class: 'name' %></h1>
		</div>
	</div>
	<div class='row description-row'>
		<div class='small-12'>
			<p class='description'>I'm a Ruby on Rails developer that loves to take business ideas and turn them into web applications. Take a look at some products I've built as well as articles I've written</p>
		</div>
	</div>
</div>
