%footer#footer
	.about
		%h4
			About Andrew Sinner
		%p
			I'm a full stack developer based in Seattle, WA. I spend most of my time building web applications. I'm passionate about business and software. Connect with me on
			= link_to 'LinkedIn', 'https://linkedin.com/in/andrewsinner'
			or check out my code on
			= link_to 'GitHub', 'https://github.com/asinner'
			and follow me on
			= link_to 'Twitter', "https://twitter.com/andrewsinner"