#contact
	%h1
		Contact Andrew
	%p
		Connect or contact me on any of the following channels:
	%ul
		%li
			= link_to 'LinkedIn', 'https://linkedin.com/in/andrewsinner'
		%li
			= link_to 'GitHub', 'https://github.com/asinner'
		%li
			= link_to 'Twitter', 'https://twitter.com/andrewsinner'
		%li
			andrewsinner@gmail.com
