#about-me h1.name {
	font-weight: 700;
	color: #E84343;
}
#about-me h1,
#about-me h2 {
	font-size: 24px;
	margin-bottom: 0;
	line-height: 24px;
}
#about-me h2 {
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}
#about-me .contact-links {
	padding: 10px 0;
	border-bottom: 1px solid rgb(200, 200, 200);
}
#about-me .contact-links a {
	color: rgb(200, 200, 200);
	font-size: 14px;
	font-weight: 300;
	height: 24px;
}
#about-me .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: bottom;
}
#about-me li {
	margin-bottom: 6px;
}
#about-me a {
	font-size: 14px;
	color: rgb(190, 190, 190);
}
#about-me a:hover {
	color: #E84343;
}
#about-me li.github .icon {
	background: url('github-icon-light.png') no-repeat;	
}
#about-me li.github:hover .icon {
	background: url('github-icon-red.png') no-repeat;	
}
#about-me li.twitter .icon {
	background: url('twitter-icon-light.png') no-repeat;
}
#about-me li.twitter:hover .icon {
	background: url('twitter-icon-red.png') no-repeat;
}
