.comments {
	padding-top: 25px;
	h4 {
		margin-bottom: 0.2em;
		text-align: center;
		background: rgb(245, 245, 245);
	}
	form {
		margin-bottom: 2em;
	}
	label {
		font-size: rem(14);
	}
}
.comment {
	@include pad(25px 5px);
	.author {
		font-size: rem(18);
		font-weight: 600;
		color: #444;
	}
	color: #777;
	border-bottom: 1px dashed rgb(200, 200, 200);
}