#home {
	color: rgb(80, 80, 80);
}
#introduction {
	padding: 75px 0 25px;
	margin-bottom: 50px;
	text-align: center;
	.headshot {
		width: 100px;
		height: 100px;
		border-radius: 1000px;
	}
	.name {
		letter-spacing: -1px;
	}
	.title {
		margin-bottom: 0.4em;
	}
	p {
		margin: 0 auto 0;
		max-width: 90%;
		font-size: rem(18);
		color: rgb(130, 130, 130);
		line-height: 2em;
	}
	@include media($medium-screen) {
		p {
			max-width: 420px;
		}
	}
}
#work {
	h3 {
		text-align: center;
		background: #FFF;
		width: 200px;
		margin: -45px auto 50px;
	}
	hr {
		height: 3px;
		background: #FFF;
		border: 1px solid #FFF;
		background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, #DDD));
	}
	@include pad(25px)
}