#main-navigation {
	background: rgb(252, 252, 252);
	text-align: center;
}
#main-navigation p {
	padding: 10px 0;
	color: rgb(240, 240, 240);
	border-top: 1px solid rgb(245, 245, 245);
	border-bottom: 1px solid rgb(245, 245, 245);
}