$nav-height: 70px;

.top-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	li {
		display: inline-block;
		a {
			font-size: rem(14);
			font-weight: 500;
			color: rgb(150, 150, 150);
			border-radius: 4px;
			display: block;
			@include pad(5px 10px);
			margin-right: 5px;
			position: relative;
			top: 20px;
			@include transition(all 0.10s ease-in-out);
			&:hover {
				color: #FFF;
				background: $blue;
			}
		}
	}
}
nav.admin {
	background: #444;
	height: 50px;
	li {
		position: relative;
		top: 0;
	}
}
nav.guest {
	ul {
		display: block;
		float: left;
		margin-left: 25px;
	}
	.title {
		float: left;
		font-size: rem(18);
		line-height: $nav-height;
		margin-left: 25px;
		a {
			color: rgb(80, 80, 80);
			&:hover {
				color: $blue;
			}
		}
	}
	background: rgba(255, 255, 255, 0.90);
	height: $nav-height;
}
#navigation-fill {
	height: $nav-height;
}