// Set the variables for the theme
$ptf-string: rgb(143, 157, 106);
$ptf-comment: rgb(95, 90, 95);
$ptf-constant: rgb(207, 106, 76);
$ptf-entity: rgb(155, 112, 63);
$ptf-keyword: rgb(205, 168, 105);
$ptf-storage: rgb(249, 238, 152);
$ptf-support: rgb(155, 133, 157);
$ptf-background: rgb(20, 20, 20);
$ptf-variable: rgb(117, 135, 166);

pre {
	ol {
		list-style-type: none !important;
		padding-left: 0 !important;
		margin-left: -70px;
	}
	overflow: scroll;
	.L0,
	.L1,
	.L2,
	.L3,
	.L4,
	.L5,
	.L6,
	.L7,
	.L8,
	.L9 {
		background: none;
	}
	border: 1px solid rgb(150, 150, 150);
	padding: 0 !important;
	font-family: 'Monaco';
}
table {
	table-layout: auto !important;
}